.rodape {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.fa-github,
.fa-linkedin-square {
  margin-top: 20px;
  margin-left: 10px;
}

#dev {
  margin-top: 20px;
}

a:hover {
  color: #333;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}
