* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  display: grid;
  grid-template-rows: 10% 2fr 1fr;
  grid-template-areas:
    "nav"
    "content"
    "footer";

  height: 100vh;
  background-color: #ffffff;
}

nav.nav-bar {
  grid-area: nav;
}

main.main-content {
  grid-area: content;
}
footer.rodape {
  grid-area: footer;
}
